*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.maino{
   display: flex;
   flex-direction: row;
}

/* varie */
.btnupgrade{
    color: white;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 20px;
    width: max-content;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.float-left{
    display: inline-block;
    float: left;
  }
/* fonts */


/* ------------------------------------------- */

/* barra nera a sx */
.blackbar1{
    width: 150px;
    background-color: black;
    height: calc(100vh - 80px);
}

/* ------------------------------------------- */

/* mainpage */
.maincontainer{
    background-color: #141921;
}

/* effettua upgrade */
.upgrade{
    background-color: rgb(0, 0, 0, 0.5);
    height: 80px;
    z-index: 1;/* 
    position: fixed;
    top: 0;
    right: 0; */
}

/* main */
.mainmusic{
    /* overflow-y: scroll; */
    height: 100%;
}

/* ------------------------------------------- */

/* footer */
footer{
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #282828;
    height: 80px;
    width: 100%;
}

